 /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
 
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
body {
    font-size: 20px;
}

.frame {
    display: flex;/*讓下一層次項目水平排列*/
    margin: 5px;
}

.left {
    flex:none;/*依照固定的寬度設計*/
    width: 300px;
    margin: 5px;
    
}

.desktop-menu { 
    display: block;
    justify-content: flex-end;/*水平對齊*/
    flex:auto;/*自動把剩下的空間填滿*/ 

}

.mobile-menu{
    display: none;

}
.item {
    flex:none;
    width:50px;
    margin-right: 10px;
    margin-top: 5px;
}

.Welcome {
    display: flex;
    justify-content: center;/*水平對齊*/
    align-items: center;/*垂直對齊*/
    height: 300px;
    background-color: rgb(183, 232, 255);
}
.text {
    font-size: 40px;
    text-align: center;
}

.Promotion {
    display: flex;
    height: 50px;
    margin: 0 auto;
    width:1200px;
    align-items: center; 
    justify-content: center; 
}

.Promotion1 {
    background-color: rgb(185, 209, 234);
    width: 590px;
    align-items: center;
    display:flex;  
    margin-right: 20px;

}

.Promotion2 {
    background-color: rgb(185, 209, 234);
    width: 590px;
    align-items: center;
    display:flex;
 
}

.text1{
    padding-left: 5px;

}
.content {
    display: flex;
    width: 1200px;   
    height: 220px;
    margin: 0 auto;
    margin-top: 20px;
    justify-content: space-between;
    
}

.box {
    width: 285px;
    height: 220px;
    background-color: rgb(185, 209, 234);
    text-align: center; 
    flex-wrap: wrap;
    align-items: flex-end;
    height: 100%; 
}

.box img {
    margin-bottom: 5px; /* 调整图像和文本之间的间距 */
}

@media (max-width:1200px){

    .Promotion {
        flex-wrap: wrap;
        width: 90%;
       
    }

    .Promotion1 {
        width: 45%;
    
    }
    .Promotion2 {
        width: 45%;
    
    }
    .content {
        width: 90%;
        flex-wrap: wrap;
    }
    .box {
        width: 45%;
       
    }
}
    
@media (max-width:600px){

    .Promotion {
        flex-wrap: wrap;
        width: 90%;
    }

    .Promotion1 {
        flex-wrap: wrap;
        width: 90%;
        
    
    }
    .Promotion2 {
        flex-wrap: wrap;
        width: 90%;
        margin-top: 20px;
    }


    .content{
        margin-top: 20px;
        flex-wrap: wrap;
        width: 90%;
      
    }
    .box{
        width: 90%;
        flex-wrap: wrap;
        margin-top: 20px;
    }
    .desktop-menu { 
        display: none;
    
    }
    
    .mobile-menu{
        display: block;
    
    }
}
